rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    function isDocOwner() {
      return isAuthenticated() && request.auth.uid == resource.data.userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /resumes/{resumeId} {
      allow read, write: if isAuthenticated() && (resource == null || resource.data.userId == request.auth.uid);
    }
  }
}
